player-connection-mode=Listen
player-connection-guid=2464076389
player-connection-debug=0
player-connection-project-name=PhotonMultiplayerTest
player-connection-ip=192.168.1.8
player-connection-ip=192.168.56.1
player-connection-ip=192.168.130.1
player-connection-ip=192.168.121.1
player-connection-ip=172.28.64.1
player-connection-ip=172.22.192.1
player-connection-ip=172.23.96.1
gfx-enable-gfx-jobs=
gfx-enable-native-gfx-jobs=
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=0
